.your_emoji {
    &::after {
        content: '';
        position: absolute;
        top: 1px;
        left: 1px;
        right: 1px;
        bottom: 1px;
        background: linear-gradient(180deg, #2e9c9c 0%, #0a2833 89.81%);
        border-radius: 9px;
        z-index: 1;
    }
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 72%);
        z-index: -1;
        border-radius: 10px;
    }
    .volume {
        background: linear-gradient(180deg, #fed696 0%, #cf8f51 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-size: 1.8em;
    font-family: 'Rubik';
    font-weight: 900;
    }
}

.volume {
    background: linear-gradient(180deg, #fed696 0%, #cf8f51 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-size: 36px;
    font-family: 'Rubik';
    font-weight: 900;
    text-align: center;
    margin-top: 1vh;
}

