  @tailwind base;
  @tailwind components;
  @tailwind utilities;
@font-face {
  font-family: 'Rubik';
  src: url('/public/fonts/Rubik.ttf');
}
@font-face {
  font-family: 'gteproRegular';
  src: url('/public/fonts/gteestiprodisplay_bold.otf');
}
body {
  margin: 0;
  font-family: 'Rubik';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0A2833;
}

